@import "@material/typography/mdc-typography";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Roboto_Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('woff');
}

:root {
  --font-mono: Roboto_Mono;
}
