// Styles to enable "upside-down" version of bulma tabs.

.tabs-up {
  margin-bottom: 0 !important;
  margin-top: 3px;

  a {
    transition: none;
    margin-bottom: 0;
    border-bottom: none;
    border-top-color: $tabs-border-bottom-color;
    border-top-width: $border-width;

    &:hover {
      margin-top: -$border-width;
      border-top-style: $tabs-border-bottom-style;
      border-top-color: $tabs-link-hover-border-bottom-color;
      border-top-width: $border-width;
    }
  }

  ul {
    border-bottom: none;
    border-top-style: $tabs-border-bottom-style;
    border-top-color: $tabs-border-bottom-color;
    border-top-width: $border-width;
  }

  li.is-active a {
    margin-top: -$border-width;
    border-bottom: none;
    border-top-color: $tabs-link-active-color;
    color: $tabs-link-active-color;
    border-top-style: $tabs-border-bottom-style;
    border-top-width: $border-width;
  }
}
