@import "~bulmaswatch/flatly/_variables";
@import "~bulma";
@import "~bulmaswatch/flatly/_overrides";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import '~@fortawesome/fontawesome-free/scss/solid';

html, body {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-y: hidden;
}

:root {
  --font-mono: "Lucida Console", Monaco, monospace;
}

///////////////////////////////////////
// Bulma Overrides

@import "tabs-up";

///////////////////////////////////////
// End Bulma Overrides
