@import "~bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

html, body {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-y: hidden !important;
}

///////////////////////////////////////
// Bulma Overrides


///////////////////////////////////////
// End Bulma Overrides
